.ulClass {
    /* display:none; */
    list-style: none;
    font-size: 12px;
    position: absolute;
    right: 0 !important;
    /* transform: translateX(-50%); */
    display: flex;
    flex-direction: row;
    color: #0e3854;
    /* background-color: red; */
}

.ulClass li {
    display: block;
    /* display: none; */
    padding: 10px;
    cursor: pointer;
    /* background-color: red; */
}