.StyledNavLink{
    display: block;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: #0e3854;
  font-size: 15px;
  background: linear-gradient(90deg, #0e3854, #067eed);
  font-size: 16px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}