.flexContainer{
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    min-height: 50%;
    height: auto;
    /* margin-bottom: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
    overflow: hidden;

}
.contactContainer{
    position: relative;
    width: 400px;
    height: 80%;
    /* left: 50px; */
    /* top: 40px; */
    color: white;
    /* background-color: blue; */
}
.contactContainer h1 {
    color: white;
    text-transform:uppercase;
    /* position: absolute; */
    text-align: center;
    width: 100%;
}
.formContainer {
    /* position: absolute; */
    width: 400px;
    height: 80%;
    /* right: 100px; */
    /* top: 40px; */
    color: white;
    margin-bottom: 300px;
    /* background-color: yellow; */
}
.formContainer h1{
    text-align: center;
}
/* .textAreaStyle{
    width: 400px;
    height: 200px;
    font-size: 16px;
    border: 2px solid #067eed;
    background-color: #c1e6ff;
    font-family: Alata;
    transition: .2s;
    padding: 5px;
    resize: none;
}
.textAreaStyle:focus{
    outline: none;
    border: 4px solid #067eed;
} */

@media screen and (max-width: 500px){
    .flexContainer{
        flex-direction: column;
        /* left: 0; */
        /* justify-content: space-around; */
        align-items: center;
        width: 80%;
    }
    .contactContainer{
        align-self: flex-start;
        width: 100%;
    }
    .formContainer{
        width: 100%;
    }
    .textAreaStyle{
        padding: 10px;
        width: 250px;
        resize: none;
    }
}