.floatLeft{
    position: absolute;
    right: 0;
}
.inputClass{
    background-color: transparent;
    width: 100px;
    height: 30px;
    border: 0;
    border-bottom: 2px solid #067eed;
    font-size: 16px;
    transition: .2s;
    padding: 5px;
    text-align: center;
    
}
.inputClass:focus{
    outline: none;
    border: 2px solid #067eed;
    transition: .2s;
    border-radius: 10px;
}
.saveBtn{
left:25% !important;
}
.cancelBtn{
left: 75% !important;
}