.ProfileContainer{
    /* position: absolute; */
    left: 50px !important;
    transform: translateX(0) !important;
}
.displayOff{
    opacity: 1 !important;
    
}

/* @keyframes goLeft{
    100%{Left: 50px;
    transform: translateX(0);}
} */