img{
    width: 500px;
    height: 500px;
}
.titleH1{
    margin: 0;
}
.wrapper{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 100px);
  color: #067eed;
  background-color: #067eed;
  min-width:350px;
  z-index:5;
  box-shadow: 0 5px 10px 2px #067eed,
  0 10px 10px 5px #04a8d6;
  overflow: hidden;
  
}
.hamburgerIcon{
    display: none;
}
.homeSliderContainer {
    width: 80%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    letter-spacing: 3px;
    transform: translate(-50%, -50%);
    color: #FFFCF2;
    display: flex;
    justify-content:space-around;
    align-items: center;
    z-index:1;
}
.sliderText{
    text-align: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.animation{
    animation: textInOut 2s;
}
.sliderText h3{
    font-weight: normal;
    color: #FFFCF2;
}
@media screen and (max-width: 500px) {
    img{
        width: 300px;
        height: 300px;
    }
    .wrapper{
        top:0;
        height:100vh;
    }
    .homeSliderContainer{
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        font-size: 14px;
    }
}
@keyframes textInOut{
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }

}
