.ProfileContainer{
    /* position: absolute; */
    left: 50px !important;
    transform: translateX(0) !important;
}
.displayOff{
    opacity: 1 !important;
    
}
.showArrow{
    display:block;
}
/* .ProfileContainerBack{
    animation: goBack 
} */

@keyframes goBack{
    100%{left: 50%;
  transform: translateX(-50%);}
}
@media (max-width: 900px){
    .ProfileContainer{
        left: -100% !important;
    }
}