img{
    width: 500px;
    height: 500px;
    /* position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%); */
}
.titleH1{
    margin: 0;
    margin-bottom: 30px;
}
.wrapper{
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 100px);
  color: #067eed;
  background-color: #067eed;
  min-width:350px;

}
.hamburgerIcon{
    display: none;
}
.homeSliderContainer {
    /* background-color:red; */
    width: 80%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    letter-spacing: 3px;
    transform: translate(-50%, -50%);
    color: #FFFCF2;
    display: flex;
    justify-content:space-around;
    align-items: center;
    /* display: none; */
    z-index:1;
}
.sliderText{
    /* background-color: green; */
    text-align: center;
    /* align-self: flex-start; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}
.animation{
    animation: textInOut 2s;
}
.sliderText h3{
    font-weight: normal;
    color: #FFFCF2;
}
@media screen and (max-width: 500px) {
    img{
        width: 300px;
        height: 300px;
    }
    .wrapper{
        top:0;
        height:100vh;
    }
    .homeSliderContainer{
        flex-direction: column-reverse;
        /* background-color: red; */
        justify-content: space-around;
        align-items: center;
        font-size: 14px;
        /* background-color: purple; */
        /* display: none; */
    }
}
@keyframes textInOut{
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }

}