.styledH1{
    color:#0085ff;
    text-transform: uppercase;
    font-weight: bold;
    align-self: center;
}
.styledBtn{
    align-self: center !important;
}
.displayOff{
    display:none;
}
.iconBack{
    display: block;
    position: absolute;
    width: 20px;
    top: 30px;
    left: 30px;
}