.styledH1{
    color:#0085ff;
    text-transform: uppercase;
    font-weight: bold;
    align-self: center;
    /* margin-bottom:50px; */
}
.styledBtn{
    align-self: center !important;
}
.displayOff{
    display:none;
}